<div class="container">
    <hr>
    <br>
    <div class="row text-center">
        <div class="col-6">
            <div class="nav-item">
                <a href="/" class="footer-botonera">Inicio</a>
            </div>
            <div class="nav-item">
                <a href="/products" class="footer-botonera">Productos</a>
            </div>
            <div class="nav-item">
                <a href="/contactUs" class="footer-botonera">Contacto</a>
            </div>
        </div>
        <div class="col-6 text-center">
            <div class="row">
                <div class="col-sm-3">
                    <i class="fab fa-facebook footer-redes"></i>
                </div>
                <div class="col-sm-3">
                    <i class="fab fa-instagram-square footer-redes"></i>
                </div>
                <div class="col-sm-3">
                    <i class="fab fa-linkedin footer-redes"></i>
                </div>
                <div class="col-sm-3">
                    <i class="fab fa-whatsapp-square footer-redes"></i>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <h6 class="footer-copyright"><strong>Copyright © 1999-2022 PositiviTea S.R.L.</strong></h6>
        </div> 
    </div>
    <br>

</div>